[workspace]
members = ["crates/*", "py-rustitude"]
resolver = "2"
default-members = ["crates/*"]

[workspace.package]
version = "0.4.1"
edition = "2021"
authors = ["Nathaniel Dene Hoffman <dene@cmu.edu>"]
description = "A library to create and operate models for particle physics amplitude analyses"
repository = "https://github.com/denehoffman/rustitude/"
homepage = "https://github.com/denehoffman/rustitude/"
license-file = "LICENSE"

[workspace.dependencies]
rustitude = { version = "0.4.1", path = "crates/rustitude", default-features = false }
rustitude-core = { version = "1.0.0", path = "crates/rustitude-core", default-features = false }
rustitude-gluex = { version = "0.2.0", path = "crates/rustitude-gluex", default-features = false }
criterion = "0.5.1"
rayon = { version = "1.8.0" }
approx = { version = "0.5.1", features = ["num-complex"] }
nalgebra = "0.32.3"
num = "0.4.1"
num-complex = "0.4.4"
num-traits = "0.2.17"
parquet = "51.0.0"
indexmap = "2.2.6"
parking_lot = "0.12.1"
oxyroot = "0.1.18"
itertools = "0.12.1"
pyo3 = "0.21.2"
thiserror = "1.0.60"
factorial = "0.4.0"
sphrs = "0.2.2"
