[package]
exclude = ["convert", "resources"]
name = "rustitude"
version = "0.3.2"
edition = "2021"
authors = ["Nathaniel Dene Hoffman <dene@cmu.edu>"]
description = "A library to create and operate models for particle physics amplitude analyses"
repository = "https://github.com/denehoffman/rustitude/"
homepage = "https://github.com/denehoffman/rustitude/"
license = "BSD-3-Clause"
readme = "README.md"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "rustitude"
crate-type = ["cdylib"]

[dependencies]
rayon = "1.10.0"
rustitude-core = { version = "0.3.3", git = "https://github.com/denehoffman/rustitude-core.git" }
rustitude-gluex = { version = "0.1.3", optional = true, git = "https://github.com/denehoffman/rustitude-gluex.git" }

[dependencies.pyo3]
version = "0.21.2"
features = ["abi3-py37"]

[features]
default = ["gluex"]
gluex = ["dep:rustitude-gluex"]
